.total{
    display: flex;
    flex-wrap: wrap;
}
.box{
    border: 5px solid tomato;
    padding: 10px 20px;
    margin: 50px;
    width: 200px;
    border-radius: 15px;
    background-color: aqua;
}
.title{
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.txt{
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    padding: 5px 10px;
    border: none;
    background-color: tomato;
    color: white;
    border-radius: 10px;
}
.box-model{
    border: 5px solid aliceblue;
}
.box-model{
    border: 5px solid tomato;
    padding: 10px 20px;
    margin: 50px;
    width: 200px;
    border-radius: 15px;
    background-color: aqua;
}
.box1{
    border: 1px solid tomato;
    display: inline;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: blueviolet;
}