.card{
    
    box-shadow: 0 0 10px lightgray;
    padding:20px;
    margin: 10px;
    border-radius: 10px;
    width: 300px;
}
.card-img{
    width:100%;
    border-radius: 20px;
}
.btn{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.nav{
    background-color: black;
    color:white;
    padding: 10px 10px;
    text-align: center;
    margin: 0;
    animation-name: demo;
    animation-duration: 1s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}
@keyframes nav {
    from{
        
    }
    to{
        margin-left: 500px;
        transform: rotate(360deg);
    }
    
}